.main{
    width:100%;
    height:100vh;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    background-size: auto;
}

@font-face {
    font-family: Space;
    src: url(fonts/spaceAge.ttf);
}
@font-face {
    font-family: Neuropol;
    src: url(fonts/Neuropol.ttf);
}
@font-face {
    font-family: Alba;
    src: url(fonts/ALBAS3.TTF);
}
@font-face {
    font-family: AvenueX;
    src: url(fonts/Marshland_Beauty.otf);
}
@font-face {
    font-family: Malvie;
    src: url(fonts/Malvie.otf);
}


.background-video{
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    
}

.title {
    position:absolute;
    align-self: start;
    font-size:4vh;
    font-family: Space;
    color: white;
    font-family: Space;
    border:3px inset white;
    border-radius: 10px;
    background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff, #ff00c8);
    /*background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);*/
    animation: glowing 10s linear infinite;
    background-size: 400%;

    /*background: rgba(127, 17, 224, 0.2);*/
    padding: 5px;
}

.box{
    position: relative;
    align-self: center;
    margin-top: 75px;
    width: 90%;
    height: 85%;
    /*background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff, #ff00c8);
    opacity: .85;*/
    background-color: rgba(9, 0, 43, .8);
    color: #fff;
    border: 5px inset #fff;
    /*#d303fc*/
    border-radius: 15px;
}

.addButton {
    position:relative;
    align-self: start;
}

.contact-table {
    overflow-y: auto;
    position: relative;
    top: 15px;
    width: 95%;
    border-collapse:collapse;
    margin: auto;
    min-width: 200px;
    border: 4px inset purple;
    border-radius: 10px;
    background-color: #11002b;
    text-align: center;
    table-layout: auto;
}

th {
    font-family: Neuropol;
    text-decoration: #2b0991 wavy underline 3px;
    font-size: 1.9vw;
    padding-bottom: 15px;
}

td {
    font-family: Malvie;
    font-size: 1.5vw;
    padding-bottom: 8px;
}

.magGlass {
    background-color: transparent;
    width:15px;
    height: 15px;
}

.viewButton{
    border: 3px inset purple;
    background-color: #ffffff;
    opacity: .9;
    border-radius: 10px;
}

.viewButton:hover {
    border: 3px inset green;
    filter: invert(1);
}

.signOutButton{
    position: fixed;
    right:10px;
    top: 5px;
    opacity: 0.9;
    font-size: 5vh;
    margin-bottom: 25px;
}

.glow-on-hover {
    width: 12vw;
    height: 5vh;
    outline: none;
    color: #fff;
    font-family: Space;
    border:3px inset white;
    background: rgba(127, 17, 224, 0.2);
    cursor: pointer;
    position: fixed;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(127, 17, 224, 0.2);;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
